/*********************************************************************

*********************************************************************/
body {
  font-family: verdana, sans-serif;
}

header {
  background-color: lightslategrey;
  width: 100%;
  display: inline-block;
}

nav {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 5px 0 5px 20px;
}

nav ul li {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-color: white;
  padding-right: 5px;
  margin: 0;
}

nav ul li:last-child{
  border: none;
}

a {
  text-decoration: none;
}

aside {
  padding: 0;
  margin: 5px 10px 5px 0;
  float: right;
}



/*********************************************************************
class-selectors
*********************************************************************/

.sitename {
display: inline-block;
font-size: 1em;
line-height: 0;
padding: 0 0 0 15px;
margin: 0;
font-weight: bold;
}

.bodycolor {
  background-color: whitesmoke;
  width: 85%;
  margin: 0 7.5% 0 7.5%;
}

.contentlist a {
  font-size: .75em;
  color: rgb(130,130,130);
}
.contentlist ol {
  color: rgb(130,130,130);
}

.contentlist ul {
  margin: -4px 0;
}

.contentlist ol li {
  margin: -10px 0;
padding: -10px 0;
}

.contentlist ul li {
  display: inline-block;
  padding-right: 5px;
  margin: 0;
}

.contentlist ul li:nth-last-child(-n+2) {
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-color: rgb(130,130,130);
}

.contentlist ul li:last-child {
  border-style: none;
}

.contentlist ul li{
  color: rgb(140,140,140);
  font-size: .75em;
  margin: -10px 0;
  padding: -10px 0;
}

.linkname {
  color: black;
}

/*********************************************************************
id-selectors
*********************************************************************/

 #logo{
   float:left;
   color: white;
   border-style: solid;
   text-align: center;
   font-weight: bold;
   margin: 5px 5px;
   width: 20px;
   border-width: 1px;
   border-color: white;
 }





/*********************************************************************

*********************************************************************/
