/*********************************************************************

*********************************************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: verdana, sans-serif;
}

a {
  text-decoration: none;
}

/*********************************************************************

*********************************************************************/


/*********************************************************************
id-selectors
*********************************************************************/
#logo {
  padding: 0 10px 0 20px;
}
 #logo a {
   border-width: 1px;
   border-color: black;
 }





/*********************************************************************

*********************************************************************/
